@font-face {
    font-family: 'Playball';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/playball-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Playball'), local('Playball-Regular'),
         url('../fonts/playball-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/playball-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/playball-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/playball-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/playball-v10-latin-regular.svg#Playball') format('svg'); /* Legacy iOS */
  }
body{
    font-family: Playball;
}
/* HEADER */
.headerContainer{
    margin-bottom: 20px;
}
.welcomeTeddies{
    text-align: center;
}
.ourProducts{
    font-size: 30px;
}
/* NAV */
.navBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
.narBarBrand{
    margin-right: 24vw;
    font-size: 30px;
}

.card-header{
    text-align: center;
    font-size: 35px;
    /* font-family: Playball; */
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageTitle{
    margin-left: 15vw;
}
/* PRODUCTS */
.leftContainer{
    padding:10px
}
.cardDescription{
    padding: 5px;
    font-size: 25px
}
.cardPrice{
    color: #996D59 !important ; 
    font-size: 25px;
    text-align: center;
}
.teddieImage{
    align-self: flex-start;
}
.leftContainer{
    display: flex;
    flex-direction: column;
    width: 32vw;
}
.cardContainer{
    flex-direction: row;
}
.colorGroup{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.chooseColor{
    font-size: 20px
}
.selectColor{
    width: 150px;
    font-size: 20px
}
.priceButtonContainer{
    margin-top: 10px;
    justify-content: center;
    display: flex;
    text-decoration: none !important;
}
.priceButton{
    color: #996D59 !important ; 
    background-color: lightgray;
    border-radius: 20px;
    width: 30vw;
    font-size: 25px;
}

/* CART */
.tableCart{
    text-align: center; 
    border : 1px #996D59 solid;
    margin-bottom: 30px;
    border-radius: 10px;
}
.imageInTable{
    width: 10vw;
    height: auto;
}
.tableHead{
    width: 12vw !important;
}
.emptyCartContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.emptyCartButton{
    color: #996D59 !important ; 
    background-color: lightgray;
    border-radius: 20px;
    width: 18vw;
    font-size: 20px;
    margin-bottom: 20px;
}
.price{
    text-align: end;
}
.nameInList{
    color: black !important;
}
.deleteButton{
    color: #996D59 !important ; 
    background-color: lightgray;
    border-radius: 20px;
    width: 10vw;
    font-size: 15px;
    border: 1px black solid;
}
.validation-form{
    display: flex;
    flex-direction: column;
    width: 35vw;
    margin-left: 20vw;
}